<!DOCTYPE html>
<html>
<head>
    <title>Flask Dynamic Data</title>
</head>
<body>
    <h1>Table</h1>
    <div id="Table"></div>

    <table>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>type</th>
        <th>Note</th>
      </tr>
      <tr>
          <td><input type="date" id="date" name="date"></td>
          <td><input type="number" id="amount" name="amount"></td>
          <td><select name="type" id="type">
        <option value="income">Income</option>
        <option value="expense">Expense</option>
      </select></td>
          <td><input type="text" id="Note" name="Note"></td>
      </tr>
    </table>
    </body>
</html>